.equal_wrapper{
    width: 100%;
    height: 80px;
    background-color: rgb(255,255,255);
    box-shadow: 3px 1px 8px 4px rgba(34, 60, 80, 0.2);
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
}

.equal_span{
    width: 100%;
    height: 100%;
    background-color: rgb(93,95,239);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: white;
}