.calculator_wrapper{
    min-width: 500px;
    /* min-height: 800px; */
    min-height: 70vh;
    border: 3px dashed rgba(130, 131, 131, 0.359);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    user-select: none;
}

.calculator_wrapper__active{
    /* min-width: 500px; */
    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    user-select: none;
}