.display_wrapper {
    width: 100%;
    height: 80px;
    background-color: rgb(255,255,255);
    box-shadow: 3px 1px 8px 4px rgba(34, 60, 80, 0.2);
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
}

.display_span {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    background-color: rgb(243,244,246);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    font-size: 50px;
    overflow: hidden;
}