@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html,
body,
#root {
    width: 100%;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.main_app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 50px; */
}

.calculator__container{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    gap: 100px;
}